[submodule "src/picard"]
	path = src/picard
	url = https://github.com/broadinstitute/picard.git
	ignore = dirty
[submodule "src/htslib"]
	path = src/htslib
	url = https://github.com/samtools/htslib.git
	ignore = dirty
[submodule "src/samtools"]
	path = src/samtools
	url = https://github.com/samtools/samtools.git
	ignore = dirty
[submodule "src/bcftools"]
	path = src/bcftools
	url = https://github.com/samtools/bcftools.git
	ignore = dirty
[submodule "src/bowtie"]
	path = src/bowtie
	url = https://github.com/BenLangmead/bowtie2.git
	ignore = dirty
[submodule "src/bedtools"]
	path = src/bedtools
	url = https://github.com/arq5x/bedtools2.git
	ignore = dirty
