.bowtie
.picard
.htslib
.samtools
.bcftools
.bamStats
.fastqc
.macs2
.cutadapt
.java
.bedtools
.homer
.weblogo
.gs
.blat
src/cutadapt
src/FastQC
src/venv
src/java
src/homer
src/gs
src/weblogo
src/blat

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
